@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

}
.container{
  width: 1140px; 
    margin: 0 auto;
}
.header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.header__left{
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 13px;
}
.logo{
    display: flex;
    color: #222222;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
      align-items: center;
    margin-right: 37px;

}
.logo span{
    color: #f16d7f;
    font-weight: 400;
} 
.header__search{
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 3px 3px;
    border:  1px solid #e6e6e6;
    overflow: hidden;
}
.browse{
    background-color: #cdcdcc;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    padding: 14px 9px 14px 15px; 
 
}
.header__search input{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 14px 159px 14px 16px;
    color: #a4a4a4;
    outline: none;
    font-size: 14px;
    font-weight: 300;
}
.header__search button{
    color: #a4a4a4;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 12px 11px;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__cart{
   margin-right: 26px; 
}
.header__account{
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    padding: 13px 12px 13px 19px;
    text-decoration: none;
}
.header__line{
    border-bottom: 1px solid #ececec;  
}
.topNav{
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topNav__link{
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 47px;
}
.topNav__link:hover{
    color: #cdcdcc;
}
.slider{
    background-color: #e8e8e8;
   
}
.slider__content{
    display: flex;
    align-items: center;
   height: inherit;
    background: url(img/slider-bg.png) no-repeat; 
    background-position: right -1%;
    background-size: 50%;
}
.slider__right{
   display: flex;
    padding-top: 224px;
    padding-bottom: 297px;
   
}
.slider__line{
    border-left: 12px solid #f16d7f;
    height: 92px;
    padding-right: 12px;
}
.slider__text{
    text-transform: uppercase;
    color: #222222; 
    font-weight: 400;
}
.slider__text h2{
    font-size: 60px;
    margin: 0;
    line-height: 0.7;
    margin-bottom: 12px;
}
.slider__text h3{
   font-size: 40px;
    margin: 0;
}
.slider__text h3 span{
    color: #f16d7f;
}
.news{
    margin-top: 98px;
    height: 820px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.news__img{
    height: 261px;
    width: 560px;
    position: relative;
}
.news__img:nth-child(3n+1){
    height: 542px;
    width: 560px;
}
.news__img:nth-child(1){
    background-image: url(img/offer-man.jpg);
}
.news__img:nth-child(2){
    background-image: url(img/offer-accessorise.jpg);
}
.news__img:nth-child(3){
    background-image: url(img/offer-wonan.jpg);
}
.news__img:nth-child(4){
    background-image: url(img/offer-kids.jpg);
}
.news__img p{
    padding: 16px 19px 16px 19px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 26px;
    font-weight: 900;
    text-transform: uppercase;
}
.news__img p  a{
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    
}
.news__img a span{
   color: #f16d7f;
    font-size: 30px;
    display: block;
}
.featured-items__title{
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}
.featured-items__subtitle{
    display: block;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}
.product__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    
}
.product__content{
    height: 364px;
    width: 261px;
    margin-bottom: 39px;
}
.product__content:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    
}
.product__img-block{
    height: 279px;
    width: 261px;
    position: relative;
    display: flex; 
    
}
.product__img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
   
}
.product__img__hover{
     height: 279px;
    width: 261px;
    position: absolute;
    background-color: #3a3838;
    opacity: 80%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    flex-direction: column;
    display: none;
    
}
.product__hover-button{
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-top: 98px;
}
.product__hover__more{
    display: flex;
    margin-top: 8px;
    
}
.product__hover-button__more{
    width: 57px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: #ffffff; 
    margin: 0 4px;
}
.product__hover-button__img{
    margin-right: 8px;
}
.product__content:hover .product__img__hover{
    display: block;
    display: flex;
}
.product__name{
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 19px;
    margin-left: 15px;
    display: block;
    
}
.product__price{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-top: 17px;
}
.featured-items__block__button-bottom{
    border: none;
    margin-top: 19px;
    text-align: center;
}
.featured-items__block__button-bottom a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
     text-decoration: none;  
    padding: 18px 19px 19px 24px;
    overflow: hidden;
    background-color: #f16d7f;
}
.offer{
    display: flex;
    margin-top: 113px;
}
.offer__text{
    height: 529px;
    width: calc((100%/3)*2);
    background-image:  url(img/offer-bg-mask.png), url(img/offer-bg.jpg);
    background-size: cover;
        
}
.offer__text h1{
   padding-top: 146px;
    padding-left: 39px; 
}
.offer__title{
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.offer__title__color{
    color: #f16d7f;
    
}
.offer__subtitle{
    font-size: 32px;
    display: block;
}
.offer__more{
    display: flex;
    width: calc(100%/3);
    justify-content: space-around;
    flex-direction: column;
    background-color: #222224; 
}
.offer__more__point{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.offer__more__text{
    width: 219px;
}
.offer__more__text h1{
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 21px;
}
.offer__more__text p{
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.subscribe{
    background: url(img/subscribe-bg.jpg), #ccc;
    background-size: cover;
    background-blend-mode: overlay;
}
.subscribe__content{
    height: 438px;
    margin-top: 97px;
    display: flex;
}
.subscribe__content__left{
    display: flex;
    height: inherit;
    width: 50%;
    border-right: 1px solid #ffffff;
    padding-top: 111px;
}
.subscribe__content__left__photo{
    margin-right: 28px;
}
.subscribe__content__review__text{
    width: 386px;
    color: #222224;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 19px;
}
.subscribe__content__review__autor{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}
.subscribe__content__review__autor span{
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    display: block;
}
.subscribe__content__review__pagination{
    margin-top: 41px;
    display: flex;
}
.subscribe__content__review__pagination a{
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
}
.subscribe__content__review__pagination a:hover{
    background-color: #f16d7f;
}
.subscribe__content__right{
    width: 50%;
    justify-items: center;
    text-align: center;
}
.subscribe__content__right__title{
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 148px;
}
.subscribe__content__right__subtitle{
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.subscribe__content__right__form{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    align-items: center;
    margin-top: 35px;
}

.subscribe__content__right__form input{
    background-color: #e1e1e1;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding: 0 148px 0 20px;
    border: none;
    outline: none;
    border-radius: 23px 0 0 23px;
    height: inherit;
}
.subscribe__content__right__form button{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background-color: #f16d7f;
    padding: 0 20px 0 21px;
    border: none;
    outline: none;
    border-radius: 0  23px 23px 0;
    height: inherit;
}
.footer__information{
    display: flex;
    justify-content: space-between;
    margin-top: 109px;
    
}
.footer__information__content__text{
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    margin-top: 29px;
    line-height: 24px;
}
.footer__information__item{
    display: flex;
    flex-direction: column;
}
.footer__information__item__title{
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.footer__information__item__link{
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 29px;
    text-decoration: none;
}
.footer__information__item__link:hover{
    color: #222222;
}
.footer__bottom{
    background-color: #e6e6e6;
}
.footer__bottom__content{
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    margin-top: 89px;
}
.footer__bottom__copy{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    
}
.footer__bottom__content__social{
    display: flex; 
}
.footer__bottom__content__social__links{
    text-decoration: none;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #b2b2b2;
    margin-right: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer__bottom__content__social__links:hover{
    background-color: #f16d7f;
    color: #f7f7f8;
}
.footer__bottom__content__social__links i{
    font-size: 16px;
    font-weight: 400;
}
.breadcrumb{
    background-color: #f8f3f4;
}
.breadcrumb__content{
    height: 148px;
    display: flex;
    align-items: center;
}
.breadcrumb__title{
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: auto;
}

.breadcrumb__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;
    text-decoration: none;
    
}
.breadcrumb__link:hover{
    color: #f16d7f;
    font-weight: 700;
}
.product__wrapper{
    display: flex;
    margin-top: 54px;
}
.sidebar__wrapper{
    width: 25%;
}
.sidebar{
    margin-bottom: 18px;
max-width: 243px;
}

.sidebar__content{
    margin-bottom: 41px;
}
.sidebar__link{
    display: block;
    text-decoration: none;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    padding-left: 17px;
}
.sidebar__title{
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 6px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb; 
    border-left: 5px solid #ef5b70;
    display: flex;
    justify-content: space-between;
}
.sidebar__active{
    color: #ef5b70;
}
.sidebar__row{
    margin-right: 0;
    display: block;
    
}

.product__form{
    width: 75%;
}
.product__filter{
    display: flex;
    justify-content: space-between;
}
.filter__title{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.trending{
    max-width: 180px;
    
}
.trending-item{
    border: none;
    background-color: transparent;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}
.trending-item:nth-of-type(1),
.trending-item:nth-of-type(2),
.trending-item:nth-of-type(4),
.trending-item:nth-of-type(5){
    border-right: 1px solid #dfdfdf;
}
.size-items-wrapper{
    display: flex;
}
.size-vertical-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 70px;
    
}
.size-item{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 13px;
 
}
.size-item input{
    color:  #ebebeb;
    width: 13px;
    height: 13px;
}
.range__line{
    width: 262px;
    height: 6px;
    border-radius: 3px;
    background-color: #f0f0f0;
    position: relative;
}
.range__color-line{
    width: 124px;
    height: 6px;
    background-color: #f16d7f;
    position: absolute;
    margin-left: 32px;
}
.range__color-line::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 14px;
    height: 14px;
    background: #f16d7f;
    border-radius: 50%;
   
}
.range__color-line::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
   
    width: 14px;
    height: 14px;
    background: #f16d7f;
    border-radius: 50%;
}
.range__price-value{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}
.product-select{
    display: flex;
    height: 50px;
    background-color: #f3f3f3;
    align-items: center;
    margin-top: 42px;
}
.product-select__value{
    display: flex;
    overflow: hidden;
    margin-left: 10px;
}
.product-select__button{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding-left: 13px;
    padding-right: 8px;

}
.product__nav-bottom{
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.product__pagination{
    border-radius: 3px;
    border: 1px solid #ebebeb;
    position: relative;
    display: inline-block;
    padding: 17px 39px 15px 39px;
}
.product__pagination__link{
    color: #c4c4c4;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}
.product__pagination__link:nth-of-type(6),
.product__pagination__link:nth-of-type(7){
    margin: 0;
}
.product__pagination__link:hover{
    color: #ef5b70;
    
}
.product__pagination::before{
    content: "<";
    color: #aaaaaa;
    font-size: 20px;
    color: #aaaaaa;
    left: 15px;
    top: 15px;
    position: absolute;
}
.product__pagination::after{
    content: ">";
    color: #ef5b70;
    font-size: 20px;
    top: 15px;
    position: absolute;
    line-height: 26px;
}
.product__nav-bottom__button{
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;line-height: 26px;
    padding: 16px 45px 15px 47px;
    border: 1px solid #ef5b70;
    text-decoration: none;
}